@import url(https://fonts.googleapis.com/css?family=Barrio);
@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(https://fonts.googleapis.com/css?family=Spartan);
@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
    font-family: "Roboto";
    background-color: white;
    text-align: center;
    padding-top: 0px;
}

.jumpContent {
  font-family: "Roboto";
  color: black;
  left: 20%;
  position: absolute;
  translate: translateY(-100%);
}
main {
  margin-left: 200px; /* Little smaller than sidebar */
}

header {
  padding: 10px;
  text-align: center;
  background: White;
  color: white;
  font-size: 30px;
  margin-top: -10px;
  margin-left: 90px;
  margin-right: auto;
  width: 100%;
  /* border-bottom: 5px solid black; */
}

h1 {
  font-size: 80px;
  color: black;
  text-align: center;
}
h1.nombre{
    font-size: 80px;
    padding-left: 120px;
    color: black;
    letter-spacing: 20px;
    text-align: center;
    animation-name: abcd;
    animation-duration: 3s;
}
@keyframes abcd {
  from {font-size: 80px;}
  to {font-size: 90px;
  letter-spacing: 40px;}
}

h2 {
  font-size: 30px;
  font-family: "Roboto";
  color: black;
  text-align: start;
  padding-left: 220px;
}

/* h2.turtleCity {
  padding-left: 30px;
  text-align: left;
} */

h3 {
  font-size: 24px;
  font-family: "Roboto";
  color: black;
  text-align: start;
  padding-left: 200px;
}

nav {
  position: fixed;
  height: 100%; /* Full-height*/
  width: 250px; /* Set the width of the sidebar */
  top: 0; /* Stay at the top */
  left: 0;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .nav {padding-top: 15px;}
  .nav a {font-size: 18px;}
}

nav ul {
    list-style-type: none;
    font-family: "Spartan";
    margin: 0;
    padding: 0;
    width: 200px;
    height: 100%;
    position: fixed;
    background-color:black;
  }
  
nav li a {
    display: block;
    color: white;
    padding: 20px 16px;
    text-decoration: none;
  }
  
/* Change the link color on hover */
nav li a:hover {
    background-color: white;
    color: black;
  }

nav .current {
    /* border: 4px solid black; */
    font-weight: 900;
    background-color: white;
    color: black;
  } 

ol {
  font-family: "Spartan";
  font-size: 24px;
  margin-left: 100px;
  text-align: start;
}

ul.resItems {
  font-family: "Spartan";
  font-size: 20px;
  margin-left: 200px;
  text-align: start;
}

p {
    font-family: "Spartan";
    font-size: 24px;
    margin-left: 220px;
    text-align: start;
}

p.turtles {
    margin-left: 30px;
    text-align: start;

}
p.skills {
  line-height: 200%;
}

#resume{
  text-align: center;
  font-weight: bold;
  color: black;
}

img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width:300px;
    border: 5px solid black;
    /* border-radius: 7px; */
    margin-top: 10px;
    }

img.turtles {
  width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width:300px;
}

img.resumeSticker {
  width: 100%;
  border: none;
}

/* this is for interactive resume */
input {
  display: none;
}

section > div {
  display: none;
  font-family: "spartan";
  text-align: start;
}

#radio-education:checked ~ #education > div {
  display: block;
}

#radio-skills:checked ~ #skills > div {
  display: block;
}

#radio-experience:checked ~ #experience > div {
  display: block;
}
/* end resume interactivity */

/* hover over captions on images start */
.container {
        position: relative;
        width: 50%;
      }
      
    .image {
        display: block;
        width: 100%;
        height: auto;
      }
      
    .overlay {
        position: absolute;
        /* border-radius: 7px; */
        top: 0px;
        bottom: 0px;
        left: 0;
        right: 0px;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: black;
      }
      
    .container:hover .overlay {
        opacity: .93;
      }
      
    .text {
        color: white;
        font-size: 15px;
        font-family: "Spartan";
        font-weight: 700;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
      }
/* hover over captions on images end*/

div {
    min-height: 150px;
    padding: 25px;
}
#intro {
    text-align: left;
}

footer p {
    text-align: right;
    font-size: 15px;
    padding: 0px 10px 10px 0px;
    vertical-align: bottom;
}

.container {
    align-items: flex-end;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0px;
    justify-content: center;
    align-items: center;
  }
  
  /* Create three columns */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 0px;
  }
  
  .column img {
    /* margin-top: 8px; */
    vertical-align: middle;
    width: 100%;
  }
  
  /* responsive layout from homework */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* responsive layout homework */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
  
  /* reduced animation to turn off resume animation */

  @media screen and (prefers-reduced-motion: reduce){
    #nameAnimation {
      animation: none;
    }
  }

/* Forms code to format the form start*/
form {
    font-family: "Spartan";
  }

  .grid-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
 
  legend { 
    margin-top: 900px;
    font-size: 150%;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    padding-top: 15px;
  }
  
  label {
    display: inline-block;
    margin-right:10px;
    width:50%;
  }
  
  input.contactForm {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
  }
  
  span{
    margin-left:20%;
    font-family: "Spartan";
    font-weight: bold;
  }
  
  textarea{
    width: 50%;
    height: 35vh;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
  }
  
  
  input[type=checkbox]{
      display:inline;
      width:inherit;
  }
  
  input[type=submit] {
    background-color: white;
    color: black;
    font-family: "Spartan";
    font-weight: 900;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }
  /* End of my Portfolio  css code, Yay! */
